<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#2563eb" />
  <title><%= title %> - JALA Magnus Clone</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="app-shell">
  <header class="app-topbar">
    <button class="menu-toggle" aria-label="Toggle menu">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="currentColor"/>
      </svg>
    </button>
    <div class="app-brand">Magnus</div>
    <div class="app-topbar-right">
      <span class="app-breadcrumb">🏠 <span>Home</span> &gt; <span><%= title %></span></span>
      <a href="/logout" class="top-logout">Logout →</a>
    </div>
  </header>
  <div class="mobile-overlay"></div>

  <div class="app-main">
    <aside class="app-sidebar">
      <div class="sidebar-header">
        <div class="avatar-circle">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" fill="white"/>
            <path d="M12 14C7.58172 14 4 17.5817 4 22H20C20 17.5817 16.4183 14 12 14Z" fill="white"/>
          </svg>
        </div>
        <div class="sidebar-user">
          <div class="user-name">Guest User</div>
          <div class="user-role">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="display:inline-block; vertical-align:middle; margin-right:4px;">
              <path d="M12 2C13.1 2 14 2.9 14 4C14 5.1 13.1 6 12 6C10.9 6 10 5.1 10 4C10 2.9 10.9 2 12 2ZM21 9V7L15 1H5C3.89 1 3 1.89 3 3V9H21ZM3 19V11H21V19C21 20.1 20.1 21 19 21H5C3.89 21 3 20.1 3 19Z" fill="white"/>
            </svg>
            User
          </div>
        </div>
      </div>
      <nav class="sidebar-nav">
        <a href="/home" class="nav-item <%= currentPath === '/home' || currentPath === '/' ? 'active' : '' %>">
          <svg class="nav-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 13H11V3H3V13ZM3 21H11V15H3V21ZM13 21H21V11H13V21ZM13 3V9H21V3H13Z" fill="currentColor"/>
          </svg>
          <span>Home</span>
        </a>
        <div class="nav-section">
          <div class="nav-item nav-label nav-item-with-chevron nav-toggle" data-section="employee">
            <svg class="nav-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 11C17.66 11 18.99 9.66 18.99 8C18.99 6.34 17.66 5 16 5C14.34 5 13 6.34 13 8C13 9.66 14.34 11 16 11ZM8 11C9.66 11 10.99 9.66 10.99 8C10.99 6.34 9.66 5 8 5C6.34 5 5 6.34 5 8C5 9.66 6.34 11 8 11ZM8 13C5.67 13 1 14.17 1 16.5V19H15V16.5C15 14.17 10.33 13 8 13ZM16 13C15.71 13 15.38 13.02 15.03 13.05C16.19 13.89 17 15 17 16.5V19H23V16.5C23 14.17 18.33 13 16 13Z" fill="currentColor"/>
            </svg>
            <span>Employee</span>
            <svg class="nav-chevron" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.59 16.59L13.17 12L8.59 7.41L10 6L16 12L10 18L8.59 16.59Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="nav-sub-items" id="employee-submenu"<% if (!currentPath.startsWith('/employee')) { %> style="display:none;"<% } %>>
          <a href="/employee/create" class="nav-sub-item <%= currentPath.startsWith('/employee/create') || currentPath.match(/^\/employee\/\d+\/edit$/) ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L15.12 5.13L18.87 8.88L20.71 7.04Z" fill="currentColor"/>
            </svg>
            <span>Create</span>
          </a>
          <a href="/employee/search" class="nav-sub-item <%= currentPath.startsWith('/employee/search') ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="currentColor"/>
            </svg>
            <span>Search</span>
          </a>
          </div>
        </div>
        <div class="nav-section">
          <div class="nav-item nav-label nav-item-with-chevron nav-toggle" data-section="more">
            <svg class="nav-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="currentColor"/>
            </svg>
            <span>More</span>
            <svg class="nav-chevron" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.59 16.59L13.17 12L8.59 7.41L10 6L16 12L10 18L8.59 16.59Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="nav-sub-items" id="more-submenu"<% if (!currentPath.startsWith('/more')) { %> style="display:none;"<% } %>>
          <a href="/more/tabs" class="nav-sub-item <%= currentPath === '/more/tabs' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Multiple Tabs</span>
          </a>
          <a href="/more/menu" class="nav-sub-item <%= currentPath === '/more/menu' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Menu</span>
          </a>
          <a href="/more/autocomplete" class="nav-sub-item <%= currentPath === '/more/autocomplete' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Autocomplete</span>
          </a>
          <a href="/more/collapsible" class="nav-sub-item <%= currentPath === '/more/collapsible' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Collapsible Content</span>
          </a>
          <a href="/more/images" class="nav-sub-item <%= currentPath === '/more/images' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Images</span>
          </a>
          <a href="/more/slider" class="nav-sub-item <%= currentPath === '/more/slider' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Slider</span>
          </a>
          <a href="/more/tooltips" class="nav-sub-item <%= currentPath === '/more/tooltips' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Tooltips</span>
          </a>
          <a href="/more/popups" class="nav-sub-item <%= currentPath === '/more/popups' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Popups</span>
          </a>
          <a href="/more/links" class="nav-sub-item <%= currentPath === '/more/links' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>Links</span>
          </a>
          <a href="/more/css-properties" class="nav-sub-item <%= currentPath === '/more/css-properties' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>CSS Properties</span>
          </a>
          <a href="/more/iframes" class="nav-sub-item <%= currentPath === '/more/iframes' ? 'active' : '' %>">
            <svg class="nav-sub-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43C15.66 3.33 15.67 3.22 15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.58C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C19.1 21 20 20.1 20 19V12L23 10Z" fill="currentColor"/>
            </svg>
            <span>iFrames</span>
          </a>
          </div>
        </div>
        <a href="/more/settings" class="nav-item <%= currentPath === '/more/settings' ? 'active' : '' %>">
          <svg class="nav-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.14 12.94C19.18 12.64 19.2 12.33 19.2 12C19.2 11.67 19.18 11.36 19.14 11.06L21.16 9.37C21.34 9.22 21.38 8.95 21.23 8.73L19.26 6.28C19.11 6.06 18.84 6.02 18.62 6.16L16.26 7.84C15.75 7.5 15.19 7.24 14.58 7.07L14.26 4.5C14.24 4.26 14.05 4.08 13.81 4.08H10.19C9.95 4.08 9.76 4.26 9.74 4.5L9.42 7.07C8.81 7.24 8.25 7.5 7.74 7.84L5.38 6.16C5.16 6.02 4.89 6.06 4.74 6.28L2.77 8.73C2.62 8.95 2.66 9.22 2.84 9.37L4.86 11.06C4.82 11.36 4.8 11.67 4.8 12C4.8 12.33 4.82 12.64 4.86 12.94L2.84 14.63C2.66 14.78 2.62 15.05 2.77 15.27L4.74 17.72C4.89 17.94 5.16 17.98 5.38 17.84L7.74 16.16C8.25 16.5 8.81 16.76 9.42 16.93L9.74 19.5C9.76 19.74 9.95 19.92 10.19 19.92H13.81C14.05 19.92 14.24 19.74 14.26 19.5L14.58 16.93C15.19 16.76 15.75 16.5 16.26 16.16L18.62 17.84C18.84 17.98 19.11 17.94 19.26 17.72L21.23 15.27C21.38 15.05 21.34 14.78 21.16 14.63L19.14 12.94ZM12 15.6C9.79 15.6 8 13.81 8 11.6C8 9.39 9.79 7.6 12 7.6C14.21 7.6 16 9.39 16 11.6C16 13.81 14.21 15.6 12 15.6Z" fill="currentColor"/>
          </svg>
          <span>Settings</span>
        </a>
      </nav>
    </aside>

    <main class="app-content">
      <div class="page-content">
        <%- body %>
      </div>
    </main>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Mobile menu toggle
      const menuToggle = document.querySelector('.menu-toggle');
      const sidebar = document.querySelector('.app-sidebar');
      const overlay = document.querySelector('.mobile-overlay');
      
      function toggleMenu() {
        document.body.classList.toggle('menu-open');
        sidebar.classList.toggle('mobile-open');
        overlay.classList.toggle('active');
      }
      
      if (menuToggle) {
        menuToggle.addEventListener('click', toggleMenu);
      }
      
      if (overlay) {
        overlay.addEventListener('click', toggleMenu);
      }
      // Handle collapsible menu sections
      document.querySelectorAll('.nav-toggle').forEach(toggle => {
        toggle.addEventListener('click', function(e) {
          e.preventDefault();
          const section = this.getAttribute('data-section');
          const submenu = document.getElementById(section + '-submenu');
          const chevron = this.querySelector('.nav-chevron');
          
          if (submenu) {
            const isHidden = submenu.style.display === 'none';
            submenu.style.display = isHidden ? 'block' : 'none';
            
            // Rotate chevron
            if (isHidden) {
              chevron.style.transform = 'rotate(90deg)';
            } else {
              chevron.style.transform = 'rotate(0deg)';
            }
          }
        });
      });

      // Initialize chevron rotation for expanded sections
      document.querySelectorAll('.nav-sub-items').forEach(submenu => {
        if (submenu.style.display !== 'none') {
          const section = submenu.id.replace('-submenu', '');
          const toggle = document.querySelector(`[data-section="${section}"]`);
          if (toggle) {
            const chevron = toggle.querySelector('.nav-chevron');
            if (chevron) {
              chevron.style.transform = 'rotate(90deg)';
            }
          }
        }
      });
    });
  </script>
</body>
</html>


